<!--<div class="text-layout">
  <h1>{{nombre | titlecase }}</h1>
  <h1>{{valor | number }}</h1>
  <h1>{{ obj | json }}</h1>  
</div>

<button pButton (click)="mostrarNombre()"  
        icon="pi pi-check" 
        iconPos="right" 
        class="p-button-help" 
        label="Cambiar nombre"></button>
<hr>


<p-card [header]="nombre | titlecase"
        subheader="Esto es un subheader">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus officia nemo ab iusto molestias. Voluptatum molestiae laboriosam praesentium ut recusandae impedit doloribus voluptates! Delectus ratione reprehenderit ullam similique corporis nihil.
</p-card>-->

<app-menu></app-menu>
<router-outlet></router-outlet>